

.acordeon-ciudades button {
    color: black !important;
    font-size: 20px;
}

.acordeon-ciudades button > span {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.acordeon-ciudades ul li {
    display: flex;
    justify-content: space-between;
}

 

.acordeon-ciudades .acordeon-collapse {
    font-size: 18px;
}
