
@model Region;
@{
	string tipoAccion = Model.Id > 0 ? "Actualizar" : "Crear";
	ViewData["title"] = $"{tipoAccion} Region";

}

<h1>Crear Region</h1>

<div class="mb-3">
	<form asp-action="CrearActualizar">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		@if( Model.Id > 0)
		{
			<input asp-for="Id" type="hidden"/>
		}

		<div class="mb-3">
			<label asp-for="Nombre" class="form-label"></label>
			<input asp-for="Nombre" class="form-control" autocomplete="off" placeholder="Ingrese el nombre" />
			<span asp-validation-for="Nombre" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<button class="btn btn-primary"><i class="fas fa-save"></i> @tipoAccion</button>
			<a class="btn btn-secondary" asp-action="Index">Cancelar</a>
		</div>
	</form>

</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial"></partial>
}