@model SistemaVisitas.DTO.LocalCreacionDTO;
@{
	string accion = Model.Id > 0 ? "Actualizar" : "Crear";
	ViewData["title"] = $"{accion} Local";
}

<h1 class="mb-3">@accion Local</h1>

<div class="mb-3">
	<form asp-action="CrearActualizar">

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		@if (Model.Id > 0)
		{
			<input type="hidden" asp-for="Id" />
		}
		<div class="mb-3">
			<label class="form-label" asp-for="Nombre"></label>
			<input class="form-control" asp-for="Nombre" autocomplete="off" placeholder="Ingrese el nombre del Local" />
			<span asp-validation-for="Nombre" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="Direccion"></label>
			<input class="form-control" asp-for="Direccion" autocomplete="off" placeholder="Ingrese la direccion del Local" />
			<span asp-validation-for="Direccion" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="Nombre"></label>
			<select class="form-control" asp-for="IdCiudad" asp-items="@Model.ListaCiudades"></select>
			<span asp-validation-for="Nombre" class="text-danger"></span>
		</div>

		<div class="mb-3">

			<button type="submit" class="btn btn-primary">@accion</button>		 
			<a asp-action="Index" class="btn btn-secondary">Cancelar</a>

		</div>
	</form>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial"></partial>

}